<div class="flex items-center gap-3 px-5 py-6 border-b border-white/15 sidebar-header">
    <div class="w-14 h-14 rounded-xl bg-[var(--surface)] flex items-center justify-center shrink-0 p-2
                border border-[var(--blue-25)]">
        <img
            src="/images/carousel/logo-pixi.png"
            alt="Informa Perú"
            class="w-full h-full object-contain"
        />
    </div>

    <div class="min-w-0">
        <p class="font-bold text-lg leading-tight text-white">
            Buscador interno
        </p>
        <p class="mt-1 text-sm font-normal text-[var(--blue-25)]">
            Consulta y gestión
        </p>
    </div>
</div>